@font-face {
  font-family: "Sriracha";
  src: local("Sriracha"), url("./fonts/Sriracha.ttf") format("truetype");
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.tile {
  width: 100px;
  height: 86px;
  background-color: #ccc;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: -25px;
  margin-bottom: -43px;
}

.port-right {
  position: absolute;
  right: -10px; /* adjust as needed */
  top: 50%;
  transform: translateY(-50%);
}

.port-left {
  position: absolute;
  left: -10px; /* adjust as needed */
  top: 50%;
  transform: translateY(-50%);
}

/* Add styles for other orientations */

.number-token {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%); /* Center the token */
}
