body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #006994;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
.hexgrid-container {
  transform: rotate(90deg);
} */

#button-top-left {
  position: absolute;
  left: 200px;
  top: 100px;
}

#button-top-right {
  position: absolute;
  right: 200px;
  top: 100px;
}

#button-bottom-right {
  position: absolute;
  right: 200px;
  bottom: 100px;
}

#button-bottom-left {
  position: absolute;
  left: 200px;
  bottom: 100px;
}

.hexgrid-container {
  display: flex;
  align-items: center;
  justify-content: center;
}